workflow.json
{
  "name": "LinkedIn Job Application Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -880,
        224
      ],
      "id": "3b2856a3-3f34-4c3f-ac99-b342526eac02",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $('Run an Actor').item.json.defaultDatasetId }}",
        "offset": {},
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        384,
        -16
      ],
      "id": "e623f129-9401-4ce4-a26c-f63ef7cc040b",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "AO5NItl9mxLm8h9K",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc",
          "mode": "list",
          "cachedResultName": "n8n AI job apply",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Vacancies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Company": "={{ $json.Company }}",
            "Location": "={{ $json.Location }}",
            "Description": "={{ $json.Description }}",
            "Salary": "={{ $json.Salary }}",
            "Date": "={{ $json.Date }}",
            "Score": "={{ $json.Score }}",
            "Cover Letter": "={{ $json['Cover Letter'] }}",
            "Reason": "={{ $json.Reason }}",
            "Keywords": "={{ $json.Keywords }}",
            "Link": "={{ $json.Link }}",
            "Unique ID": "={{ $json['Job ID'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        864
      ],
      "id": "a50f5078-76dd-4363-952e-ecbc18a8df1a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sRzzkTrh3yCjLeCe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Job ID\": {{$json.jobId || ''}},\n  \"Title\": \"{{ $json.title || $json.jobTitle || 'No title' }}\",\n  \"Company\": \"{{ $json.hiringOrganization?.name || $json.company || $json.companyName || 'No company' }}\",\n  \"Location\": \"{{ $json.jobLocation?.address?.addressLocality || $json.location || $json.city || $json.jobLocation || 'No location' }}\",\n  \"Date\": \"{{ $json.date }}\",\n  \"Description\": \"{{ Array.isArray($json.jobDescription) ? $json.jobDescription.join('\\n') : ($json.jobDescription || $json.description || '-') }}\",\n  \"Employment Type\": \"{{ $json.employmentType }}\",\n  \"Salary\": \"{{  $json.salary }}\",\n  \"Link\": \"{{ $json.link }}\",\n  \"Score\": \"{{ $json.score }}\",\n  \"Cover Letter\": \"{{ $json.coverLetter }}\",\n  \"Reason\": \"{{ $json.reason }}\",\n  \"Keywords\": \"{{ $json.keywords }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        480
      ],
      "id": "8227ee72-572d-4017-8a51-1a885a22b4e8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        464
      ],
      "id": "95411622-4675-43a6-a33f-39b7cbabe8a8",
      "name": "Vacancy",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"jobId\": \"{{$json.id||$('Get the output of an agent').item.json.jobId || $json.identifier?.value || $json.url || $json.jobUrl || $json.linkedinUrl || $json['@id'] }}\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        464
      ],
      "id": "fe9bde37-5aab-424c-89db-a74f3150467d",
      "name": "Extract Job ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc",
          "mode": "list",
          "cachedResultName": "n8n AI job apply",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Vacancies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Unique ID",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        672
      ],
      "id": "c6b9827b-0df3-489a-96e0-10641a243df9",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sRzzkTrh3yCjLeCe",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6e552d2-6881-436d-b22b-8ba00431a58d",
              "leftValue": "={{Object.keys($node[\"Get row(s) in sheet\"].json || {}).length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        672
      ],
      "id": "0c9a14a0-f417-40a1-af50-f92a1b4ea9de",
      "name": "Deduplication Check"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        336,
        912
      ],
      "id": "c15f4e09-6013-44be-94b0-a08a5e6f02fb",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please evaluate the relevance of this job for Anastasia Prysiazhna (Full Stack + DevOps + AI Automation experience).\n\nExtract the most important information using these fallbacks:\n\nTitle: {{ $json.title || $json.jobTitle || $json.jobtitle || \"No title\" }}\n\nCompany: {{ $json.hiringOrganization?.name || $json.company || $json.companyName || $json.company?.name || \"No company\" }}\n\nLocation: {{ $json.jobLocation?.address?.addressLocality || $json.location || $json.city || $json.jobLocation || \"No location\" }}\n\nDescription: {{ \n  Array.isArray($json.jobDescription) ? $json.jobDescription.join(\"\\n\") : \n  ($json.jobDescription || $json.description || $json.text || \"No description\")\n}}\n\nFull raw data (for extra context):\n{{ JSON.stringify($json) }}\n\nReturn ONLY this JSON:\n{\n  \"score\": 85\n}",
        "options": {
          "systemMessage": "You are a fast job relevance scorer for Anastasia Prysiazhna.\n\nShe is a Full Stack Developer with strong DevOps/AWS/Docker/CI-CD experience, Python, and currently building her own AI-powered job automation system using n8n + Apify.\n\nEvaluate how relevant this job is for an Entry-level / Junior AI Automation Engineer position.\n\nReturn ONLY this exact JSON, nothing else:\n\n{\n  \"score\": 85\n}",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        656
      ],
      "id": "ee674a04-d532-4b8f-bd89-2c4df5988173",
      "name": "Score Evaluator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Information:\nJobID: {{ $json.jobId }}\nTitle: {{ $json.title }}\nCompany: {{ $json.company }}\nLocation: {{ $json.location }}\nEmployment Type: {{ $json.employmentType }}\nDescription: {{ $json.description }}",
        "options": {
          "systemMessage": "You are an expert career coach helping Anastasia Prysiazhna, a Ukrainian Full Stack Developer based in Norway (Upper-Intermediate English), land an Entry-level / Junior AI Automation Engineer role (remote, European Economic Area).\n\nHer key strengths:\n• 2+ years commercial Full Stack experience (React, React Native, Next.js, Node.js, TypeScript)\n• Strong DevOps & automation background: AWS (EC2, S3, RDS, ECR, Lambda, etc.), Docker, CI/CD\n• Python, SQL, web scraping, REST APIs\n• Currently building a sophisticated AI-powered job application automation system using n8n + Apify + LLMs (this is her strongest proof of real AI automation skills)\n\nJob Information:\n- JobID: {{ $json.jobId || $json.job_id || 'N/A' }}\n- Title: {{ $json.title }}\n- Company: {{ $json.company }}\n- Location: {{ $json.location }}\n- Employment Type: {{ $json.employmentType }}\n- Description: {{ $json.description }}\n\nTask:\nWrite a personalized, natural, professional cover letter in English (B2+ level: confident but friendly, clear, 150-200 words).\n\nRules:\n- Start with proper greeting (Dear Hiring Manager or Dear [Company] Team)\n- Mention the exact JobID and Job Title\n- Highlight relevant Full Stack + DevOps experience and how it transfers to AI Automation\n- Strongly emphasize her current n8n AI job automation project\n- End with a clear call-to-action\n\nReturn **ONLY** clean valid JSON. No markdown, no explanations, no code blocks, no extra text.\n\n{\n  \"job_id\": \"exact job id from above\",\n  \"cover_letter\": \"full cover letter text here\",\n  \"reason\": \"short 2-3 sentence explanation why this candidate is a good fit\",\n  \"suggested_keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        624
      ],
      "id": "bfff163c-776c-4378-9ca5-75cbfdb29713",
      "name": "Full Generator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b40e6027-a08a-4ff6-a97d-4aa7af17029d",
              "leftValue": "={{ Number( JSON.parse( String($json.output).replace(/```json|json\\n|```/g, '').trim() ).score ) }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        640
      ],
      "id": "d3c52923-270f-4fa4-b82b-98cb1e0d895d",
      "name": "Score relevance",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        896
      ],
      "id": "00101415-c1ea-4ab2-9f30-3510b6c7a70e",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        736,
        912
      ],
      "id": "a8f07ff2-f5b6-4065-93cd-5de13bfb0ff1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0412435c-f113-4f69-8f58-1c631c2642a0",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        224
      ],
      "id": "245a9003-c23c-4028-80f4-537318b3637c",
      "name": "Status SUCCEDED"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const description = $json.jobDescription || $json.description || \"\";\nconst text = Array.isArray(description) ? description.join(\" \") : String(description);\n\nconst isEnglish = /[a-zA-Z]{5,}/.test(text) && \n                  !/[а-яёàáâãäåæçèéêëìíîïðñòóôõöøùúûüýÿ]/i.test(text);\n\nif (isEnglish && $json.employmentType !== \"TEMPORARY\") {\n  return {...$json, source: \"apify\"};\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -16
      ],
      "id": "fa13bd07-aeed-4456-8f3f-41fad65858b9",
      "name": "Filter (only English and notTemporaryContract)"
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "6824372766949849",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        960,
        208
      ],
      "id": "226bf8d8-a7f1-482d-981b-2ecc8366b8fe",
      "name": "Get the output of an agent",
      "credentials": {
        "phantombusterApi": {
          "id": "mBNMJhCBqt6LAe8H",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "0lLu3ht7kPSG6K7qi",
          "mode": "list",
          "cachedResultName": "💼 LinkedIn Jobs Scraper 🔓 No Cookie/Login Needed 📄 +Raw HTML (parseforge/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/0lLu3ht7kPSG6K7qi/input"
        },
        "customBody": "{\n  \"searchQuery\": \"https://www.linkedin.com/jobs/search?keywords=AI%20Automation%20Engineer%20OR%20AI%20Automation%20OR%20n8n%20OR%20Zapier%20OR%20%22Make.com%22%20OR%20%22AI%20Workflow%22&location=European%20Economic%20Area&f_WT=2&f_E=2&f_TPR=r604800\",\n  \"location\": \"European Economic Area\",\n  \"maxItems\": 10,\n  \"datePosted\": \"pastWeek\",\n  \"jobType\": [\"fullTime\",\n\"partTime\",\n\"contract\",\n\"internship\"],\n  \"experienceLevel\": [\"internship\",\n\"entryLevel\",\n\"associate\"],\n  \"workplaceType\": [\"remote\"],\n  \"easyApplyOnly\": false,\n  \"sortBy\": \"relevant\",\n  \"scrapeJobDetails\": true,\n  \"extractSkills\": true,\n  \"proxyConfiguration\": {\n    \"useApifyProxy\": true\n  },\n  \"maxConcurrency\": 10\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -384,
        224
      ],
      "id": "273d2d79-7395-4725-b710-6555b1562e1e",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "AO5NItl9mxLm8h9K",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "491664927",
        "text": "=⚠️ Apify Run ABORTED  \nStatus: {{ $json.status }} \nMessage: {{ $json.statusMessage }} \nTotal cost: ${{ $json.usageTotalUsd }}  \nConsole: {{ $json.consoleUrl }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        208
      ],
      "id": "58788cfd-f6ba-4f75-a6cc-033f66fddcbf",
      "name": "Status message",
      "webhookId": "29c3ffd5-2669-49ef-b338-4d6b8ffbc4f4",
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "491664927",
        "text": "=❌ Apify Run Error  \n\nMessage: {{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        336
      ],
      "id": "23e98178-bcf9-441f-a469-4e0671fc6a40",
      "name": "Error message",
      "webhookId": "29c3ffd5-2669-49ef-b338-4d6b8ffbc4f4",
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || $json.html || $json.body || \"\";\n\n\nlet company = \"\";\n\nconst companyRegexes = [\n  /<a[^>]*class=\"[^\"]*topcard__org-name-link[^\"]*\"[^>]*>([^<]+)<\\/a>/i,\n  /<a[^>]*class=\"[^\"]*sub-nav-cta__optional-url[^\"]*\"[^>]*>([^<]+)<\\/a>/i,\n  /<h4[^>]*class=\"[^\"]*top-card-layout__second-subline[^\"]*\"[^>]*>.*?<a[^>]*>([^<]+)<\\/a>/i,\n  /\"companyName\"\\s*:\\s*\"([^\"]+)\"/i,\n  /company\":\\s*\"([^\"]+)\"/i\n];\n\nfor (const regex of companyRegexes) {\n  const match = html.match(regex);\n  if (match && match[1]) {\n    company = match[1].trim();\n    break;\n  }\n}\n\nlet description = \"\";\n\nconst descriptionRegexes = [\n  /<div class=\"show-more-less__list[^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<span class=\"description__content[^>]*>([\\s\\S]*?)<\\/span>/i,\n  /<div class=\"description__text[^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<div class=\"mt4[^>]*>([\\s\\S]*?)(?=<\\/div>)/i\n];\n\nfor (const regex of descriptionRegexes) {\n  const match = html.match(regex);\n  if (match && match[1]) {\n    description = match[1];\n    break;\n  }\n}\n\ndescription = description\n  .replace(/<[^>]+>/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\nreturn {\n  companyName: company || $json.company || $json.companyName || \"No company name\",\n  description: description || $json.description || \"-\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        880
      ],
      "id": "7f5d700c-2966-4fcb-87e9-8d3260421d02",
      "name": "Extract Job Description"
    },
    {
      "parameters": {
        "url": "={{ $json.jobUrl }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 20,
              "batchInterval": 20000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        880
      ],
      "id": "c30f06c2-c75d-4d4e-aedc-699d124588e3",
      "name": "Get full job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b807c46-6197-448b-b5ef-723d6b6c41ed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "abort",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        224
      ],
      "id": "640803de-83d6-46ba-a0d0-7ed8e175cdc9",
      "name": "Error or status"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        0
      ],
      "id": "72574b60-549c-4aab-8f79-973867c305c4",
      "name": "Go to loop"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1362d7f-3266-47f1-9211-d70156b72f73",
              "leftValue": "={{ $json.source }}",
              "rightValue": "apify",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        480
      ],
      "id": "fee38807-97a2-40dd-a8d1-9dbad9c6a0fb",
      "name": "Check source"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const isEnglish = /[a-zA-Z]{5,}/.test($json.description) && \n                  !/[а-яёàáâãäåæçèéêëìíîïðñòóôõöøùúûüýÿ]/i.test($json.description);\n\nif (isEnglish) {\n  return $json;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        880
      ],
      "id": "2f883eef-8bb3-4f68-96c8-9510d46aa90d",
      "name": "Filter (only English)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d428d395-c214-4dd1-b987-5559f889d732",
              "leftValue": "={{Object.keys($node[\"Filter (only English)\"].json).length}}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        880
      ],
      "id": "46c2e7d5-e539-45fe-93a8-3f5dfe58ac2b",
      "name": "If English"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        48,
        896
      ],
      "id": "c72746ff-48f4-4f19-9af5-1ba7744d7778",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "model": "gemma2:2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        384,
        800
      ],
      "id": "15e98fa9-57c4-4ebc-a086-2b0ad2de8f7a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "KKfDHtpB7R6joZD1",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma2:2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1136,
        768
      ],
      "id": "9997db2e-8347-44eb-bb1f-e1ed70e3a46b",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "KKfDHtpB7R6joZD1",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cc791bd-3fc7-4785-851e-2c592d00ee3c",
              "name": "title",
              "value": "={{ $json.title || $json.jobTitle || $json.jobtitle || $('Extract Job ID').item.json.jobTitle|| $('Extract Job ID').item.json.title || 'No title' }}",
              "type": "string"
            },
            {
              "id": "28d77d41-2f93-482d-95c0-44e53470300c",
              "name": "company",
              "value": "={{ $json.company || $json.companyName || $json.hiringOrganization?.name || $('Extract Job ID').item.json.companyName ||$('Extract Job ID').item.json.company || 'No company' }}",
              "type": "string"
            },
            {
              "id": "409dd068-95c2-4fe3-a99d-703f8ab412c9",
              "name": "location",
              "value": "={{ $json.location || $json.jobLocation?.address?.addressLocality || $json.city || $('Extract Job ID').item.json.location || 'No location' }}",
              "type": "string"
            },
            {
              "id": "2f29e323-ca47-4e73-9ccc-e6716e4c3441",
              "name": "description",
              "value": "={{ Array.isArray($json.jobDescription) ? $json.jobDescription.join('\\n') : ($json.jobDescription || $json.description || $('Extract Job ID').item.json.description || $json.jobDescription || 'No description') }}",
              "type": "string"
            },
            {
              "id": "bf644f38-bd07-4e8e-9aa1-89e4660abd04",
              "name": "employmentType",
              "value": "={{ $json.employmentType || $('Extract Job ID').item.json.employmentType || $json.workplaceType || '-' }}",
              "type": "string"
            },
            {
              "id": "e042e9bd-cd6e-4019-98fe-b390689c12b5",
              "name": "jobId",
              "value": "={{ $('Extract Job ID').item.json.jobId || $json.id || $json.jobId || $('Extract Job ID').item.json.jobId || 'No iD' }}",
              "type": "string"
            },
            {
              "id": "60e5391f-479f-4bf0-ac74-477355b09c56",
              "name": "date",
              "value": "={{ $json.datePosted ? new Date($json.datePosted).toISOString().split('T')[0] : ($('Extract Job ID').item.json.postedAt ? new Date($('Extract Job ID').item.json.postedAt).toISOString().split('T')[0] : $('Extract Job ID').item.json.postedDate) }}",
              "type": "string"
            },
            {
              "id": "1bfc8ede-c07f-4247-8300-fd98f44ffe5b",
              "name": "salary",
              "value": "={{      (() => {       const s = $json.baseSalary || $json.salary || {};       if (!s || !s.value) return '-';       let result = '';       if (s.value.minValue != null) result += s.value.minValue;       if (s.value.maxValue != null) result += ` - ${s.value.maxValue}`;       if (s.currency) result += ` ${s.currency}`;       if (s.value.unitText) result += ` (per ${s.value.unitText})`;       return result.trim() || $('Extract Job ID').item.json.slary;     })()   }}",
              "type": "string"
            },
            {
              "id": "dca7a46f-eb25-4e32-b8df-8d0035cf2360",
              "name": "link",
              "value": "={{ $('Extract Job ID').item.json.jobUrl ||$('Extract Job ID').item.json.link || $json.url || $json.jobUrl || $json.linkedinUrl || $json.hiringOrganization?.sameAs || '-' }}",
              "type": "string"
            },
            {
              "id": "b5a74774-b857-42a7-ab7c-79514eb1ae90",
              "name": "score",
              "value": "={{ JSON.parse(String($json.output).replace(/```json|```|json\\n/g, '').trim()).score || '-' }}",
              "type": "string"
            },
            {
              "id": "06dbec74-67cd-4957-b4cc-1ef68bb5c6c5",
              "name": "employmentType",
              "value": "={{$json.employmentType || $json.workplaceType || '-'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        624
      ],
      "id": "62659293-084b-4326-8647-7b1bb3b10a9c",
      "name": "Prepare for Full Generator"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawOutput = $json.output || \"\";\n\n// Aggressive cleaning\nlet cleaned = rawOutput\n  .replace(/```json|```|json\\n/g, '')           // remove markdown\n  .replace(/\\n/g, ' ')                          // remove newlines\n  .replace(/\\s+/g, ' ')                         // normalize spaces\n  .trim();\n\n// Fix common JSON issues\ncleaned = cleaned.replace(/,\\s*}/g, '}');       // remove trailing commas\ncleaned = cleaned.replace(/\"\\s*,\\s*\"/g, '\",\"'); // fix broken strings\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // Second attempt - try to extract JSON with regex\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      parsed = null;\n    }\n  }\n}\n\nif (!parsed) {\n  parsed = {\n    cover_letter: \"Failed to parse cover letter\",\n    reason: \"JSON parse error\",\n    suggested_keywords: []\n  };\n}\n\nreturn {\n  jobId: parsed.job_id || parsed.jobId || \"-\",\n  coverLetter: parsed.cover_letter || parsed.coverLetter || \"-\",\n  reason: parsed.reason || \"-\",\n  keywords: Array.isArray(parsed.suggested_keywords) \n    ? parsed.suggested_keywords.join(\", \") \n    : (parsed.suggestedKeywords || parsed.keywords || \"-\")\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        496
      ],
      "id": "79785ff0-fdf0-410e-a9cf-ce09a16d04dd",
      "name": "Format output"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "jobId",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        352
      ],
      "id": "46ac1ad7-ffd5-4b8f-adec-14c008208d2e",
      "name": "Combine output"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const isRemote = $json.isRemote && $('Get the output of an agent').item.json.workplaceType|| \"\";\n\nif (isRemote) {\n  return {...$json, source: 'phantombuster'};\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        208
      ],
      "id": "f1876410-2cc5-4d6f-8ede-6b2225b6be9e",
      "name": "Filter (only remote)"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "companyName",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -224,
        512
      ],
      "id": "82a33bf5-68a3-4c06-818f-1f6a5bb475ad",
      "name": "Combine fields"
    },
    {
      "parameters": {
        "sendTo": "palitsanastasia3.ap@gmail.com",
        "subject": "=⚠️ Apify Run ABORTED   ",
        "message": "=Status: {{ $json.status }}  Message: {{ $json.statusMessage }}  Total cost: ${{ $json.usageTotalUsd }}   Console: {{ $json.consoleUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        208
      ],
      "id": "2e248c12-ecd7-4d7e-9271-f8a215c60b3c",
      "name": "Send status message",
      "webhookId": "0e30695f-24dd-42de-9f39-4d50e23f88eb",
      "credentials": {
        "gmailOAuth2": {
          "id": "nfh52AoxMIl4y4iM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "palitsanastasia3.ap@gmail.com",
        "subject": "=❌ Apify Run Error",
        "message": "=Message: {{ $json.error }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        336
      ],
      "id": "0fa52099-dd1d-4c75-aacb-d2ab88acaf4a",
      "name": "Send error message",
      "webhookId": "b3e168c6-4c37-439b-b2b1-9e99c1b58b0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "nfh52AoxMIl4y4iM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "apify-test.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        224
      ],
      "id": "bbe637ed-51e0-4797-8216-edfc48546130",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/scraper_jobs/latest.json",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        224
      ],
      "id": "9d9d0938-ee5f-43b6-8706-05702e98ddd7",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "745ce7a3-6903-4eb2-a43e-68db66050162",
              "leftValue": "={{ $json.TEST_MODE}}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        224
      ],
      "id": "8b4150d7-b806-408a-9b14-66eea132b970",
      "name": "If TEST_MODE"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/scraper_jobs/jobs.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        -16
      ],
      "id": "89f1fca6-afbf-4fa5-9fa1-f2fc7a18b49c",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        -16
      ],
      "id": "882d437e-7ec6-4ca5-99cd-259eec56de7b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "cf5fdc7e-dfa8-43c3-97ff-73c5c50a7a47",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"TEST_MODE\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        224
      ],
      "id": "5752d5df-bd73-452f-bc2c-da6b782d3f53",
      "name": "Set mode"
    }
  ],
  "pinData": {},
  "connections": {
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Filter (only English and notTemporaryContract)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vacancy": {
      "main": [
        [],
        [
          {
            "node": "Check source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Deduplication Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication Check": {
      "main": [
        [
          {
            "node": "Score Evaluator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Evaluator": {
      "main": [
        [
          {
            "node": "Score relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Generator": {
      "main": [
        [
          {
            "node": "Format output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score relevance": {
      "main": [
        [
          {
            "node": "Prepare for Full Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Vacancy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Status SUCCEDED": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error or status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter (only English and notTemporaryContract)": {
      "main": [
        [
          {
            "node": "Go to loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status SUCCEDED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the output of an agent": {
      "main": [
        [
          {
            "node": "Filter (only remote)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status message": {
      "main": [
        [
          {
            "node": "Get the output of an agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error message": {
      "main": [
        [
          {
            "node": "Get the output of an agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Description": {
      "main": [
        [
          {
            "node": "Filter (only English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get full job": {
      "main": [
        [
          {
            "node": "Extract Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error or status": {
      "main": [
        [
          {
            "node": "Status message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send status message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go to loop": {
      "main": [
        [
          {
            "node": "Vacancy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check source": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get full job",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter (only English)": {
      "main": [
        [
          {
            "node": "If English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If English": {
      "main": [
        [
          {
            "node": "Combine fields",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Vacancy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Score Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Full Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Full Generator": {
      "main": [
        [
          {
            "node": "Full Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format output": {
      "main": [
        [
          {
            "node": "Combine output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine output": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter (only remote)": {
      "main": [
        [
          {
            "node": "Go to loop",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine fields": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send status message": {
      "main": [
        [
          {
            "node": "Get the output of an agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send error message": {
      "main": [
        [
          {
            "node": "Get the output of an agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Status SUCCEDED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TEST_MODE": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter (only English and notTemporaryContract)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mode": {
      "main": [
        [
          {
            "node": "If TEST_MODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "efd9d419-f57f-405c-b3cc-b3aba72e604d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f0ed5632cfd747e5ebaa6cd1297b4e2f8e672e30440220f92087b7bd2ba0db1"
  },
  "id": "MTS4wUh0YURi5WwU",
  "tags": []
}