workflows/parent-workflow.json
{
  "name": "LinkedIn Job Application Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        224
      ],
      "id": "3b2856a3-3f34-4c3f-ac99-b342526eac02",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"TEST_MODE\": \"true\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        224
      ],
      "id": "5752d5df-bd73-452f-bc2c-da6b782d3f53",
      "name": "Set mode"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JSB4ldxh5lpeKNZI",
          "mode": "list",
          "cachedResultUrl": "/workflow/JSB4ldxh5lpeKNZI",
          "cachedResultName": "subworkflow-success-messsages"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "total_added_today": "={{ $json.total_added_today }}"
          },
          "matchingColumns": [
            "total_added_today"
          ],
          "schema": [
            {
              "id": "total_added_today",
              "displayName": "total_added_today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        176,
        112
      ],
      "id": "dfbc010d-a203-4153-b7c4-6e040cd54cee",
      "name": "Call 'subworkflow-success-messsages'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MK3OlmgDHyttdWvL",
          "mode": "list",
          "cachedResultUrl": "/workflow/MK3OlmgDHyttdWvL",
          "cachedResultName": "subworkflow-fetch-jobs-or-get-from-disk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "TEST_MODE": "={{ $json.TEST_MODE }}"
          },
          "matchingColumns": [
            "TEST_MODE"
          ],
          "schema": [
            {
              "id": "TEST_MODE",
              "displayName": "TEST_MODE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -464,
        224
      ],
      "id": "f5a1c459-c5ea-41e0-83d8-6e839e9f10e8",
      "name": "Call 'subworkflow-fetch-jobs-or-get-from-disk'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NrGH6Tr8EFMwEpO0",
          "mode": "list",
          "cachedResultUrl": "/workflow/NrGH6Tr8EFMwEpO0",
          "cachedResultName": "subworkflow-evaluate-and-save-job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json.data }}"
          },
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        224
      ],
      "id": "af93bd8a-06bf-4ce3-b749-c4313af24e42",
      "name": "Call 'subworkflow-evaluate-and-save-job'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "271bc043-1f58-4c44-8a11-4574466c9b68",
              "leftValue": "={{ $json.total_added_today }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        224
      ],
      "id": "a90d8a72-0aad-4a6d-ae55-13925a7cc1a9",
      "name": "Get new jobs",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OBN6W1xv8afk8Hkn",
          "mode": "list",
          "cachedResultUrl": "/workflow/OBN6W1xv8afk8Hkn",
          "cachedResultName": "subworkflow-unsuccess-messages"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        176,
        320
      ],
      "id": "887f4eb3-51f0-4540-85b4-cbb8a7e3e0f2",
      "name": "Call 'subworkflow-unsuccess-messages'"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mode": {
      "main": [
        [
          {
            "node": "Call 'subworkflow-fetch-jobs-or-get-from-disk'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subworkflow-fetch-jobs-or-get-from-disk'": {
      "main": [
        [
          {
            "node": "Call 'subworkflow-evaluate-and-save-job'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subworkflow-evaluate-and-save-job'": {
      "main": [
        [
          {
            "node": "Get new jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get new jobs": {
      "main": [
        [
          {
            "node": "Call 'subworkflow-success-messsages'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'subworkflow-unsuccess-messages'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a912863d-07d3-4a41-983a-a913f21d8eff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f0ed5632cfd747e5ebaa6cd1297b4e2f8e672e30440220f92087b7bd2ba0db1"
  },
  "id": "MTS4wUh0YURi5WwU",
  "tags": []
}