workflows/subworkflow-success-messsages.json
{
  "active": true,
  "connections": {
    "Add a reaction": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Add a reaction",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Send an animated file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send an animated file",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Send a message",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "JSB4ldxh5lpeKNZI",
  "meta": {
    "instanceId": "5f0ed5632cfd747e5ebaa6cd1297b4e2f8e672e30440220f92087b7bd2ba0db1",
    "templateCredsSetupCompleted": true
  },
  "name": "subworkflow-success-messsages",
  "nodes": [
    {
      "id": "18a5a868-45dc-4a01-82a0-0f7b2000d08e",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "total_added_today",
              "type": "number"
            }
          ]
        }
      },
      "position": [
        -224,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      },
      "id": "8af0d35a-11e8-48c1-b33b-15d98b4609ce",
      "name": "Send an animated file",
      "parameters": {
        "additionalFields": {},
        "chatId": "491664927",
        "file": "CgACAgQAAxkBAAPoahrOaausUszdA9VjNzrS5KsOHZoAAiAHAAPyVFMNvMiSPtb1JTsE",
        "operation": "sendAnimation"
      },
      "position": [
        160,
        -112
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "72868a1b-37cc-4509-8be2-13d20eaba129"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      },
      "id": "c1f9c50f-0284-42f8-b796-6d812b1ce4e9",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {},
        "chatId": "491664927",
        "text": "=The workflow is completed. The {{$json.total_added_today}} new vacancies have been added to the spreadsheet. Check it out !)"
      },
      "position": [
        368,
        -112
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "5d57933c-794a-4ebc-8f71-702c58f01cea"
    },
    {
      "credentials": {
        "slackOAuth2Api": {
          "id": "HzR2sIL7BIw1UM74",
          "name": "Slack account"
        }
      },
      "id": "17ba1b74-6ff7-4e3e-b67e-ab6d32ee9cd5",
      "name": "Send a message",
      "parameters": {
        "authentication": "oAuth2",
        "channelId": {
          "__rl": true,
          "cachedResultName": "success-messages",
          "mode": "list",
          "value": "C0B77EXHVC1"
        },
        "otherOptions": {},
        "select": "channel",
        "text": "=The workflow is completed. The {{$json.total_added_today}} new vacancies have been added to the spreadsheet. Check it out !)"
      },
      "position": [
        160,
        80
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "webhookId": "7c28a0f1-cf9b-4b09-927e-362b1619a51a"
    },
    {
      "credentials": {
        "slackOAuth2Api": {
          "id": "HzR2sIL7BIw1UM74",
          "name": "Slack account"
        }
      },
      "id": "049f308f-091d-44b0-84b0-80622ebf03aa",
      "name": "Add a reaction",
      "parameters": {
        "authentication": "oAuth2",
        "channelId": {
          "__rl": true,
          "cachedResultName": "success-messages",
          "mode": "list",
          "value": "C0B77EXHVC1"
        },
        "name": "+1",
        "resource": "reaction",
        "timestamp": "={{ $json.message_timestamp }}"
      },
      "position": [
        384,
        80
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "webhookId": "84815350-6c77-4801-b7b8-eba44602de66"
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "tags": [],
  "versionId": "4603e1e0-a03e-4a7e-af70-970903e9f3ee"
}