workflows/subworkflow-evaluate-and-save-job.json
{
  "name": "subworkflow-evaluate-and-save-job",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc",
          "mode": "list",
          "cachedResultName": "n8n AI job apply",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Vacancies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Company": "={{ $json.Company }}",
            "Location": "={{ $json.Location }}",
            "Description": "={{ $json.Description }}",
            "Date": "={{ $json.Date }}",
            "Score": "={{ $json.Score }}",
            "Cover Letter": "={{ $json['Cover Letter'] }}",
            "Reason": "={{ $json.Reason }}",
            "Keywords": "={{ $json.Keywords }}",
            "Link": "={{ $json.Link }}",
            "Unique ID": "={{ $json['Job ID'] }}",
            "Row Added": "={{ $json['Created At'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Row Added",
              "displayName": "Row Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        848
      ],
      "id": "44266864-5ff5-4a00-8e80-16adfa042cab",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sRzzkTrh3yCjLeCe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Job ID\": {{$json.jobId || ''}},\n  \"Title\": \"{{ $json.title || $json.jobTitle || 'No title' }}\",\n  \"Company\": \"{{ $json.hiringOrganization?.name || $json.company || $json.companyName || $json.company_name || 'No company' }}\",\n  \"Location\": \"{{ $json.jobLocation?.address?.addressLocality || $json.location || $json.city || $json.jobLocation || $json.job_location || 'No location' }}\",\n  \"Date\": \"{{ $json.date }}\",\n  \"Description\": \"{{ Array.isArray($json.jobDescription) ? $json.jobDescription.join('\\n') : ($json.job_description || $json.description || '-') }}\",\n  \"Employment Type\": \"{{ $json.employmentType }}\",\n  \"Salary\": \"{{  $json.salary }}\",\n  \"Link\": \"{{ $json.link }}\",\n  \"Score\": \"{{ $json.score }}\",\n  \"Cover Letter\": \"{{ $json.coverLetter }}\",\n  \"Reason\": \"{{ $json.reason }}\",\n  \"Keywords\": \"{{ $json.keywords }}\",\n  \"Created At\":\"{{ $now.format('yyyy-MM-dd') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        656
      ],
      "id": "cd38ba66-93af-43d9-af3a-9f02aa9e7cc4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"jobId\": \"{{$json.id || $json.jobId || $json.job_id || $json.identifier?.value || $('Loop Over Items').item.json.jobId}}\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        544
      ],
      "id": "76b63b88-c7a8-4736-80f8-18e4903abe6d",
      "name": "Extract Job ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc",
          "mode": "list",
          "cachedResultName": "n8n AI job apply",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Vacancies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmn0Y2a0DA07ORmKuXM_lqRjzL6Glzl3WIBw3cnlxmc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Unique ID",
              "lookupValue": "={{ $json.id || $json.job_id || $json.jobId }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        368
      ],
      "id": "7e0b8a95-66ae-4aaa-b36b-cf05bb47ad79",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sRzzkTrh3yCjLeCe",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6e552d2-6881-436d-b22b-8ba00431a58d",
              "leftValue": "={{Object.keys($node[\"Get row(s) in sheet\"].json || {}).length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        368
      ],
      "id": "ec6472aa-a53e-4d59-9c4f-2f378971f798",
      "name": "Deduplication Check"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please evaluate the relevance of this job for Anastasia Prysiazhna (Full Stack + DevOps + AI Automation experience).\n\nExtract the most important information using these fallbacks:\n\nTitle: {{ $json.title || $json.jobTitle || $json.jobtitle || \"No title\" }}\n\nCompany: {{ $json.hiringOrganization?.name || $json.company || $json.companyName || $json.company?.name || \"No company\" }}\n\nLocation: {{ $json.jobLocation?.address?.addressLocality || $json.location || $json.city || $json.jobLocation || \"No location\" }}\n\nDescription: {{ \n  Array.isArray($json.jobDescription) ? $json.jobDescription.join(\"\\n\") : \n  ($json.jobDescription || $json.description || $json.text || \"No description\")\n}}\n\nFull raw data (for extra context):\n{{ JSON.stringify($json) }}\n\nReturn ONLY this JSON:\n{\n  \"score\": 85\n}",
        "options": {
          "systemMessage": "You are a fast job relevance scorer for Anastasia Prysiazhna.\n\nShe is a Full Stack Developer with strong DevOps/AWS/Docker/CI-CD experience, Python, and currently building her own AI-powered job automation system using n8n + Apify.\n\nEvaluate how relevant this job is for an Entry-level / Junior AI Automation Engineer position.\n\nReturn ONLY this exact JSON, nothing else:\n\n{\n  \"score\": 85\n}",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        112
      ],
      "id": "50ed07bc-7df3-4f9c-89c7-941527302254",
      "name": "Score Evaluator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Information:\nJobID: {{ $json.jobId }}\nTitle: {{ $json.title }}\nCompany: {{ $json.company }}\nLocation: {{ $json.location }}\nEmployment Type: {{ $json.employmentType }}\nDescription: {{ $json.description }}",
        "options": {
          "systemMessage": "You are an expert career coach helping Anastasia Prysiazhna, a Ukrainian Full Stack Developer based in Norway (Upper-Intermediate English), land an Entry-level / Junior AI Automation Engineer role (remote, European Economic Area).\n\nHer key strengths:\n• 2+ years commercial Full Stack experience (React, React Native, Next.js, Node.js, TypeScript)\n• Strong DevOps & automation background: AWS (EC2, S3, RDS, ECR, Lambda, etc.), Docker, CI/CD\n• Python, SQL, web scraping, REST APIs\n• Currently building a sophisticated AI-powered job application automation system using n8n + Apify + LLMs (this is her strongest proof of real AI automation skills)\n\nJob Information:\n- JobID: {{ $json.jobId || $json.job_id || 'N/A' }}\n- Title: {{ $json.title }}\n- Company: {{ $json.company }}\n- Location: {{ $json.location }}\n- Employment Type: {{ $json.employmentType }}\n- Description: {{ $json.description }}\n\nTask:\nWrite a personalized, natural, professional cover letter in English (B2+ level: confident but friendly, clear, 150-200 words).\n\nRules:\n- Start with proper greeting (Dear Hiring Manager or Dear [Company] Team)\n- Mention the exact JobID and Job Title\n- Highlight relevant Full Stack + DevOps experience and how it transfers to AI Automation\n- Strongly emphasize her current n8n AI job automation project\n- End with a clear call-to-action\n\nReturn **ONLY** clean valid JSON. No markdown, no explanations, no code blocks, no extra text. Always include job_id.\n\n{\n  \"job_id\": \"exact job id from above\",\n  \"cover_letter\": \"full cover letter text here\",\n  \"reason\": \"short 2-3 sentence explanation why this candidate is a good fit\",\n  \"suggested_keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1280,
        96
      ],
      "id": "5298a96f-a361-48ac-9275-103e5f1fecd1",
      "name": "Full Generator",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b40e6027-a08a-4ff6-a97d-4aa7af17029d",
              "leftValue": "={{ Number( JSON.parse( String($json.output).replace(/```json|json\\n|```/g, '').trim() ).score ) }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        112
      ],
      "id": "b71d5aa8-a105-46f6-9567-42e2cb9477d1",
      "name": "Score relevance",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        384
      ],
      "id": "2fd023d5-03b3-4620-8f9f-6619c5d04837",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || $json.html || $json.body || \"\";\n\n// ==========================================\n// 1. EXTRACT DESCRIPTION\n// ==========================================\nlet description = \"\";\nconst descriptionRegexes = [\n  /<div class=\"show-more-less__list[^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<span class=\"description__content[^>]*>([\\s\\S]*?)<\\/span>/i,\n  /<div class=\"description__text[^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<div class=\"mt4[^>]*>([\\s\\S]*?)(?=<\\/div>)/i\n];\n\nfor (const regex of descriptionRegexes) {\n  const match = html.match(regex);\n  if (match && match[1]) {\n    description = match[1];\n    break;\n  }\n}\n\n// Clean HTML tags and normalize spacing\ndescription = description\n  .replace(/<[^>]+>/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n// ==========================================\n// 2. SAFE RESOLUTION & DOUBLE QUOTE REPLACEMENT\n// ==========================================\nlet finalDescription = description || $json.description || \"-\";\n\n// Replace any stray double quotes inside strings with single quotes\n// This prevents them from ruining your downstream LLM JSON formats!\nfinalDescription = finalDescription.replace(/\"/g, \"'\");\n\nreturn {\n  description: finalDescription\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        544
      ],
      "id": "e04f2022-d09b-4d2a-b852-67b19c7c0f15",
      "name": "Extract Job Description"
    },
    {
      "parameters": {
        "url": "={{ $json.jobUrl ||  $json.job_url  }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 20,
              "batchInterval": 20000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        560
      ],
      "id": "59b56bd5-dcaa-4d5a-adf3-31915fa7d43c",
      "name": "Get full job",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1362d7f-3266-47f1-9211-d70156b72f73",
              "leftValue": "={{ $json.source }}",
              "rightValue": "apify",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        384
      ],
      "id": "0b1d090b-c715-4ce2-b0f0-3711e26e5368",
      "name": "Check source"
    },
    {
      "parameters": {
        "model": "gemma2:2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        544,
        272
      ],
      "id": "58b8fa6d-00f5-47cb-99c9-26c65a4a3f28",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "KKfDHtpB7R6joZD1",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma2:2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1280,
        272
      ],
      "id": "f9052614-7866-48ab-98a0-b2d0bb6da77b",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "KKfDHtpB7R6joZD1",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cc791bd-3fc7-4785-851e-2c592d00ee3c",
              "name": "title",
              "value": "={{ $json.title || $json.jobTitle || $json.jobtitle || ($('Loop Over Items').isExecuted ? $('Loop Over Items').item.json.jobTitle || $('Loop Over Items').item.json.job_title : null) || ($('Extract Job ID').isExecuted ? ($('Extract Job ID').item.json.jobTitle || $('Extract Job ID').item.json.job_title || $('Extract Job ID').item.json.title) : null) || 'No title' }}",
              "type": "string"
            },
            {
              "id": "28d77d41-2f93-482d-95c0-44e53470300c",
              "name": "company",
              "value": "={{ $json.company || $json.companyName || $json.hiringOrganization?.name || ($('Extract Job ID').isExecuted ? ($('Extract Job ID').item.json.companyName || $('Extract Job ID').item.json.company_name || $('Extract Job ID').item.json.company) : null) || ($('Loop Over Items').isExecuted ? $('Loop Over Items').item.json.companyName || $('Loop Over Items').item.json.company_name : null) || 'No company' }}",
              "type": "string"
            },
            {
              "id": "409dd068-95c2-4fe3-a99d-703f8ab412c9",
              "name": "location",
              "value": "={{ $json.location || $json.jobLocation?.address?.addressLocality || $json.city || $json.job_location || ($('Loop Over Items').isExecuted ? $('Loop Over Items').item.json.location : null) || ($('Extract Job ID').isExecuted ? $('Extract Job ID').item.json.location : null) || 'No location' }}",
              "type": "string"
            },
            {
              "id": "2f29e323-ca47-4e73-9ccc-e6716e4c3441",
              "name": "description",
              "value": "={{ (Array.isArray($json.jobDescription) ? $json.jobDescription.join('\\n') : ($json.jobDescription || $json.description || ($('Extract Job ID').isExecuted ? ($('Extract Job ID').item.json.description || $('Extract Job ID').item.json.job_description) : null) || ($('Extract Job Description').isExecuted ? $('Extract Job Description').item.json.description : null) || ($('Loop Over Items').isExecuted ? $('Loop Over Items').item.json.job_description || $('Loop Over Items').item.json.jobDescription : null) || 'No description')).replace(/\"/g, \"'\") }}",
              "type": "string"
            },
            {
              "id": "bf644f38-bd07-4e8e-9aa1-89e4660abd04",
              "name": "employmentType",
              "value": "={{ $json.employmentType || ($('Extract Job ID').isExecuted ? ($('Extract Job ID').item.json.employmentType || $('Extract Job ID').item.json.employment_type) : null) || $json.workplaceType || ($('Loop Over Items').isExecuted ? $('Loop Over Items').item.json.employmentType || $('Loop Over Items').item.json.employment_type : null )|| '-' }}",
              "type": "string"
            },
            {
              "id": "e042e9bd-cd6e-4019-98fe-b390689c12b5",
              "name": "jobId",
              "value": "={{ ($('Extract Job ID').isExecuted ? ($('Extract Job ID').item.json.jobId || $('Extract Job ID').item.json.job_id) : null) || ($('Loop Over Items').isExecuted ? $('Loop Over Items').item.json.jobId || $('Loop Over Items').item.json.job_id : null) || $json.id || $json.jobId || 'No iD' }}",
              "type": "string"
            },
            {
              "id": "60e5391f-479f-4bf0-ac74-477355b09c56",
              "name": "date",
              "value": "={{\n(() => {\n  // 1. Gather all possible raw date strings safely checking node execution states\n  const dateRaw = $json.datePosted || \n    ($('Loop Over Items').isExecuted ? ($('Loop Over Items').item.json.postedAt || $('Loop Over Items').item.json.time_posted) : null) || \n    ($('Extract Job ID').isExecuted ? ($('Extract Job ID').item.json.postedAt || $('Extract Job ID').item.json.postedDate || $('Extract Job ID').item.json.time_posted) : null);\n\n  // 2. If nothing is found, return the fallback dashboard dash\n  if (!dateRaw) return '-';\n\n  try {\n    // 3. Try parsing it into a clean YYYY-MM-DD string\n    const parsedDate = new Date(dateRaw);\n    if (!isNaN(parsedDate.getTime())) {\n      return parsedDate.toISOString().split('T')[0];\n    }\n  } catch (e) {\n    // Suppress date conversion crashes gracefully\n  }\n\n  // 4. Return the raw string as a ultimate safety fallback if it can't be converted to ISO\n  return dateRaw || '-';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "1bfc8ede-c07f-4247-8300-fd98f44ffe5b",
              "name": "salary",
              "value": "={{\n(() => {\n  const s = $json.baseSalary || $json.salary || {};\n  const v = s?.value;\n\n  const fallback = $('Extract Job ID').isExecuted ? \n    ($('Extract Job ID').item.json.salary || $('Extract Job ID').item.json.salary_range) : null;\n\n  if (!v) return fallback || '-';\n\n  let parts = [];\n\n  if (v.minValue != null && v.maxValue != null) {\n    parts.push(`${v.minValue} - ${v.maxValue}`);\n  } else if (v.minValue != null) {\n    parts.push(`${v.minValue}`);\n  } else if (v.maxValue != null) {\n    parts.push(`${v.maxValue}`);\n  }\n\n  let result = parts.join('');\n\n  if (s.currency) result += ` ${s.currency}`;\n  if (s.unitText || v.unitText) {\n    result += ` (per ${s.unitText || v.unitText})`;\n  }\n\n  return result.trim() || fallback || '-';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "dca7a46f-eb25-4e32-b8df-8d0035cf2360",
              "name": "link",
              "value": "={{ ($('Extract Job ID').isExecuted ? ($('Extract Job ID').item.json.jobUrl || $('Extract Job ID').item.json.job_id || $('Extract Job ID').item.json.link) : null) || $json.url || $json.jobUrl || $json.linkedinUrl || $json.hiringOrganization?.sameAs || ($('Loop Over Items').isExecuted ? $('Loop Over Items').item.json.jobUrl || $('Loop Over Items').item.json.job_url : null) || '-' }}",
              "type": "string"
            },
            {
              "id": "b5a74774-b857-42a7-ab7c-79514eb1ae90",
              "name": "score",
              "value": "={{ JSON.parse(String($json.output).replace(/```json|```|json\\n/g, '').trim()).score || '-' }}",
              "type": "string"
            },
            {
              "id": "06dbec74-67cd-4957-b4cc-1ef68bb5c6c5",
              "name": "workplaceType",
              "value": "={{ $json.workplaceType || ($('Extract Job ID').isExecuted ? ($('Extract Job ID').item.json.workplaceType || $('Extract Job ID').item.json.workplace_type) : null) || $json.workplaceType || ($('Loop Over Items').isExecuted ? $('Loop Over Items').item.json.workplaceType || $('Loop Over Items').item.json.workplace_type : null )|| '-' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        96
      ],
      "id": "de1842df-5985-49ce-a86a-3b59d1f764ca",
      "name": "Prepare for Full Generator"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawOutput = $json.output || \"\";\n\n// Aggressive cleaning\nlet cleaned = rawOutput\n  .replace(/```json|```|json\\n/g, '')           // remove markdown\n  .replace(/\\n/g, ' ')                          // remove newlines\n  .replace(/\\s+/g, ' ')                         // normalize spaces\n  .trim();\n\n// Fix common JSON issues\ncleaned = cleaned.replace(/,\\s*}/g, '}');       // remove trailing commas\ncleaned = cleaned.replace(/\"\\s*,\\s*\"/g, '\",\"'); // fix broken strings\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // Second attempt - try to extract JSON with regex\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      parsed = null;\n    }\n  }\n}\n\nif (!parsed) {\n  parsed = {\n    cover_letter: \"Failed to parse cover letter\",\n    reason: \"JSON parse error\",\n    suggested_keywords: []\n  };\n}\n\nreturn {\n  jobId: parsed.job_id || parsed.jobId || \"-\",\n  coverLetter: parsed.cover_letter || parsed.coverLetter || \"-\",\n  reason: parsed.reason || \"-\",\n  keywords: Array.isArray(parsed.suggested_keywords) \n    ? parsed.suggested_keywords.join(\", \") \n    : (parsed.suggestedKeywords || parsed.keywords || \"-\")\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        224
      ],
      "id": "089c8bcb-31c6-421b-b850-9e90b751ea17",
      "name": "Format output",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "jobId",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1600,
        480
      ],
      "id": "a295a404-a616-44a8-a020-7af24feb585a",
      "name": "Combine output",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -928,
        384
      ],
      "id": "eca6bd0d-d606-4896-ae24-94de98cdddb0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        368
      ],
      "id": "77c2009f-61d5-4bb1-815e-ff847fe17fb4",
      "name": "Loop Over Items",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "491664927",
        "text": "=🚨 n8n Automation Error: \n\nResource Not Found 🚨  \n\nWorkflow: subworkflow-fetch-jobs-or-get-from-disk \n\nTime: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}  \n\nAn external resource request failed (404 Page Structure Received).  \n\nDetails: \n• Status: The resource you are requesting could not be found (LinkedIn URL might be dead or changed). \n• Node Name: {{ $execution.error?.node?.name || 'HTTP / Scraper Node' }}  \n🔍 Raw Snippet: {{ $json.message ? $json.message.substring(0, 200) : 'HTML/CSS Payload detected instead of JSON.' }}...  \n🔗 View Execution Details: {{ $execution.resumeUrl || $execution.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        752
      ],
      "id": "1424c0f4-c1bf-461d-a14f-1a26f53adfcc",
      "name": "Send a text message",
      "webhookId": "009c40f6-2486-4c2c-b897-03fbdf160db6",
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendSticker",
        "chatId": "491664927",
        "file": "CAACAgIAAxkBAAIBBWoa6s4z23qGoH4DWfEjI2j0nu7xAAJCEAACM8UpSZAO1BGnKkqCOwQ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        752
      ],
      "id": "4d22c47f-8bd8-4f28-b9c2-28b375a5fe25",
      "name": "Send a sticker",
      "webhookId": "9bfce98d-5583-4791-96da-5963eb3c647c",
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e94ca148-19a1-4d27-8c3d-8a74dbf49fe3",
              "leftValue": "={{ $json.jobUrl ||  $json.job_url  }}",
              "rightValue": "undefined",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2fc3d737-bdd6-40be-980c-3421eb9576b5",
              "leftValue": "={{ $json.jobUrl ||  $json.job_url  }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "1ea0de9e-f27f-4839-af4a-45d4a4aaec5b",
              "leftValue": "={{ $json.jobUrl ||  $json.job_url  }}",
              "rightValue": "''",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -272,
        560
      ],
      "id": "3668c554-3135-42cd-b419-e36da0c9dd33",
      "name": "Filter valid URL"
    },
    {
      "parameters": {
        "jsCode": "// Access the global workflow storage scope\nconst staticData = $getWorkflowStaticData('global');\n\n// If the counter doesn't exist yet, initialize it at 0\nif (staticData.counter === undefined) {\n  staticData.counter = 0;\n}\n// Add 1 to the global counter\nstaticData.counter += 1;\n\n// Pass whatever data came from Google Sheets straight through safely\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        848
      ],
      "id": "28b256cf-7091-47fa-b785-e44efe8aedfb",
      "name": "Increment Counter",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Access the same global workflow storage scope\nconst staticData = $getWorkflowStaticData('global');\n\n// Grab the total or default to 0 if no jobs were appended\nconst finalCount = staticData.counter || 0;\n\nreturn [{ json: { total_added_today: finalCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        176
      ],
      "id": "c0d780b3-8df2-4c7e-93b2-45852915c124",
      "name": "Return number of new jobs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        544,
        384
      ],
      "id": "79ef2508-7a4c-4686-8218-7e781636b808",
      "name": "No Operation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01de4a9a-8e46-446a-98f5-2b737904b7ca",
              "leftValue": "={{ $json.description }}",
              "rightValue": "=^[^\\u0400-\\u04FF\\u00C0-\\u00FF]*[a-zA-Z]{5,}[^\\u0400-\\u04FF\\u00C0-\\u00FF]*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "5782f6ef-2362-4d81-8278-f0dc4762651b",
              "leftValue": "={{ $('Loop Over Items').item.json.jobTitle || $('Loop Over Items').item.json.job_title }}",
              "rightValue": "={{\"Senior\" || \"senior\" || \"Lead\" || \"lead\"}}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        352,
        544
      ],
      "id": "e3d4ab73-5d75-4195-8f6f-be282c53a29d",
      "name": "Filter (only English and not senior or lead)"
    },
    {
      "parameters": {
        "operation": "sendSticker",
        "chatId": "491664927",
        "file": "CAACAgIAAxkBAAIBQGocP3Xk9F5zWGkU-WvDFzyXBcp-AALFEQACsJqxSF1Rnb6QpVfaOwQ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        752
      ],
      "id": "ff34091f-ade4-4f5e-8390-2e43138b072d",
      "name": "Send sticker",
      "webhookId": "9bfce98d-5583-4791-96da-5963eb3c647c",
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "491664927",
        "text": "=🚨 n8n Automation Error 🚨\n\n🔁 Loop stop working 🔁\n\nWorkflow: subworkflow-fetch-jobs-or-get-from-disk \n\nTime: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}  \n\nDetails: \n• Node Name: {{ $execution.error?.node?.name || 'HTTP / Scraper Node' }}   \n🔗 View Execution Details: {{ $execution.resumeUrl || $execution.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        752
      ],
      "id": "f22f02aa-8bed-40e0-b393-d7c24f894f40",
      "name": "Send text message",
      "webhookId": "009c40f6-2486-4c2c-b897-03fbdf160db6",
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendSticker",
        "chatId": "491664927",
        "file": "CAACAgIAAxkBAAIBQGocP3Xk9F5zWGkU-WvDFzyXBcp-AALFEQACsJqxSF1Rnb6QpVfaOwQ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        736
      ],
      "id": "f10c17ff-6e7b-4f79-8dfc-10fd19614f7e",
      "name": "Send sticker error",
      "webhookId": "9bfce98d-5583-4791-96da-5963eb3c647c",
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "491664927",
        "text": "=🚨 n8n Automation Error 🚨\n\n🔁 LLM stop working 🔁\n\nWorkflow: subworkflow-fetch-jobs-or-get-from-disk \n\nTime: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}  \n\nDetails: \n• Node Name: {{ $execution.error?.node?.name || 'HTTP / Scraper Node' }}   \n🔗 View Execution Details: {{ $execution.resumeUrl || $execution.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        848
      ],
      "id": "228ac2ed-b06e-4ed2-9d88-586522025a50",
      "name": "Send error message",
      "webhookId": "009c40f6-2486-4c2c-b897-03fbdf160db6",
      "credentials": {
        "telegramApi": {
          "id": "kfCInsROG3jgx84C",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.counter = 0;\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        160
      ],
      "id": "f6d3b4ed-147e-4bf6-9e4e-44fa7c00c1bf",
      "name": "Reset Counter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -656,
        384
      ],
      "id": "2e471ca9-b501-4d4e-866e-5cce08da6a02",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -512,
        160
      ],
      "id": "7bb0fd69-0c85-4574-a552-13e0b635a050",
      "name": "No Operation, do nothing1"
    }
  ],
  "pinData": {},
  "connections": {
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Increment Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Deduplication Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication Check": {
      "main": [
        [
          {
            "node": "Score Evaluator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Evaluator": {
      "main": [
        [
          {
            "node": "Score relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Generator": {
      "main": [
        [
          {
            "node": "Format output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send sticker error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score relevance": {
      "main": [
        [
          {
            "node": "Prepare for Full Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Description": {
      "main": [
        [
          {
            "node": "Filter (only English and not senior or lead)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get full job": {
      "main": [
        [
          {
            "node": "Extract Job Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a sticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check source": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter valid URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Score Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Full Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Full Generator": {
      "main": [
        [
          {
            "node": "Full Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format output": {
      "main": [
        [
          {
            "node": "Combine output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send sticker error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine output": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Reset Counter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Return number of new jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send sticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a sticker": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter valid URL": {
      "main": [
        [
          {
            "node": "Get full job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Counter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter (only English and not senior or lead)": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send sticker": {
      "main": [
        [
          {
            "node": "Send text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send sticker error": {
      "main": [
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send error message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Counter": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "vrkHrZV92R6fqPXw",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1e036c0e-003c-4d38-a042-b4d822940602",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f0ed5632cfd747e5ebaa6cd1297b4e2f8e672e30440220f92087b7bd2ba0db1"
  },
  "id": "NrGH6Tr8EFMwEpO0",
  "tags": []
}